[project]
	description = test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/luera5
[access "refs/for/refs/*"]
	read = group user/luera5
	push = group user/luera5
	label-Code-Review = -2..+2 group user/luera5
	label-Verified = -1..+1 group user/luera5
	rebase = group user/luera5
	removeReviewer = group user/luera5
	submit = group user/luera5
[access "refs/heads/*"]
	read = group user/luera5
	create = group user/luera5
	push = +force group user/luera5
	pushMerge = group user/luera5
[access "refs/tags/*"]
	push = group user/luera5
	push = +force group user/luera5
